html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bg;
  @extend %stolzl-400;
  color: $text;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5 {
  @extend %gothampro-700;
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }
}

a {
  color: $text;
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:focus {
    border: 1px solid #9cc0f9;
  }

  &:hover {
    border: 1px solid yellow;
  }

  &:active {
    border: 1px solid yellowgreen;
  }
}

.border-btn {
  background-color: transparent;
  color: $text;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid $accent;
  border-radius: 5px;
  transition: background-color 0.5s;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: $accent;
  }
}

.bg-btn {
  background-color: $accent;
  color: $text;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid $accent;
  border-radius: 5px;
  transition: background-color 0.5s, border-color 0.5s;
  display: inline-block;
  font-size: 18px;
  @extend %gothampro-700;
  letter-spacing: 0.05em;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border-color: $text;
  }
}

.text-bg {
  font-size: 14px;
  color: $bg;
  padding: 9px 20px;
  background-color: $text;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 6px;
  @extend %gothampro-700;
  text-transform: uppercase;
}

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  @extend %gothampro_black-900;
  letter-spacing: 0.05em;
}
