$accent: #d5621d;
$bg: #210e09;
$text: #fff;

// ! Миксин для fancybox(video-popup), предотвращает ошибку gulp
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// ! Миксин для ограничения строк текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// ! Использование миксина
// .class {
//   @include line-clamp(3);
// }

// ! Шаблон для скрытия checkbox и radio buttons
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
// ! Использование шаблона
// @extend %checkbox-hidden;
// @extend %radio-hidden;

// ! Шаблон для Шрифта
%stolzl-400 {
  font-family: "stolzl_regular", sans-serif;
  font-weight: 400;
}

%gothampro-400 {
  font-family: "gothampro", sans-serif;
  font-weight: 400;
}

%gothampro-700 {
  font-family: "gothampro_bold", sans-serif;
  font-weight: 700;
}

%gothampro_black-900 {
  font-family: "gothampro_black", sans-serif;
  font-weight: 900;
}
// ! Использование шаблона
// @extend %gothampro_black-900;
