<section class="contacts">
  <div class="container">
    <div class="contacts__top">
      <div class="contacts__text-bg text-bg">Top “Manhattan” place</div>
      <div class="contacts__title section-title">контакты</div>
    </div>

    <div class="contacts__content">
      <div class="contacts__text-box">
        <ul class="contacts__items">
          <li class="contacts__text-item">
            <h3 class="contacts__text-title">Адрес</h3>
            <div class="contacts__text">
              Набережная реки Фонтанки, 90 (вход в арке с белыми колоннами)
            </div>
          </li>
          <li class="contacts__text-item">
            <h3 class="contacts__text-title">телефон</h3>
            <div class="contacts__text">
              +7 (812) 713-1945
            </div>
          </li>
          <li class="contacts__text-item">
            <h3 class="contacts__text-title">режим работы</h3>
            <div class="contacts__text">
              Ежедневно с 12:00 до 06:00
            </div>
          </li>
        </ul>

        <ul class="contacts__items">
          <li class="contacts__text-item">
            <h3 class="contacts__text-title">директор</h3>
            <div class="contacts__text">
              Лидия Эмильевна, +7 (921) 963-55-50
            </div>
          </li>

          <li class="contacts__text-item">
            <h3 class="contacts__text-title">арт-директор</h3>
            <div class="contacts__text">
              Илиния Ионашко, +7 (981) 989-43-30
            </div>
          </li>
        </ul>
      </div>

      <div class="contacts__map-box">
        <img class="contacts__map" src="images/map/map.jpg" alt="Map">
      </div>
    </div>
  </div>
</section>