<section class="corp-events">
  <div class="container">
    <div class="corp-events__top">
      <div class="corp-events__text-bg text-bg">Top “Manhattan” events</div>
      <h2 class="corp-events__title section-title">корпоративы</h2>
    </div>

    <div class="corp-events__box">
      <div class="corp-events__box-title">
        корпоративы
      </div>
      <ul class="corp-events__items">
        <li class="corp-events__item">
          <div class="corp-events__text">
            <p>
              Фуршетное меню от 1000 руб. на человека (до 150 человек).
            </p>
          </div>
        </li>
        <li class="corp-events__item">
          <div class="corp-events__text">
            <p>
              Банкетное меню от 1500 руб. на человека (до 100 человек).
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="corp-events__whyus">
      <div class="corp-events__box-title">
        почему мы?
      </div>
      <ul class="corp-events__whyus-list">
        <li class="corp-events__whyus-item">
          <p>
            Отдельный зал на 30 человек с профессиональной системой караоке
          </p>
        </li>
        <li class="corp-events__whyus-item">
          <p>
            Удобная парковка и близость к трем станциям метро в центре города
          </p>
        </li>
        <li class="corp-events__whyus-item">
          <p>
            Большие экраны
          </p>
        </li>
        <li class="corp-events__whyus-item">
          <p>
            Танцпол с современной звуковой и световой аппаратурой
          </p>
        </li>
        <li class="corp-events__whyus-item">
          <p>
            Сцена с проекционным экраном.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>