<section class="events">
  <div class="container">
    <div class="events__inner">
      <ul class="events__items">
        <li class="events__item">
          <div class="events__text-bg text-bg">Top “Manhattan” events</div>

          <h2 class="events__title section-title">Банкеты</h2>

          <div class="events__text">
            <p>
              Quam massa pretium et venenatis. Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed est
              interdum eget
              nisi, nec fames. Eget amet hac varius aliquam. Mattis egestas suspendisse convallis eu arcu et aliquet.
            </p>
            <p>
              Porttitor risus sociis vitae nunc id lacus eget felis. Viverra et purus nibh ut. Sed ac leo sit posuere
              vulputate sed
              morbi. Donec gravida at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in pellentesque mauris.
            </p>
            <p>
              Eu sodales netus faucibus interdum interdum platea massa egestas. Facilisis donec gravida pretium diam
              semper at id
              eleifend.
            </p>
          </div>

          <div class="events__link-box">
            <a href="" class="events__link border-btn">Подробнее</a>
          </div>
        </li>

        <li class="events__item">
          <img class="events__img" src="images/events/events.jpg" alt="Image">
        </li>

        <li class="events__item">
          <div class="events__text-bg text-bg">Top “Manhattan” tourists</div>

          <h2 class="events__title section-title">Туристы</h2>

          <div class="events__text">
            <p>
              Quam massa pretium et venenatis. Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed est
              interdum eget
              nisi, nec fames. Eget amet hac varius aliquam. Mattis egestas suspendisse convallis eu arcu et aliquet.
            </p>
            <p>
              Porttitor risus sociis vitae nunc id lacus eget felis. Viverra et purus nibh ut. Sed ac leo sit posuere
              vulputate sed
              morbi. Donec gravida at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in pellentesque mauris.
            </p>
            <p>
              Eu sodales netus faucibus interdum interdum platea massa egestas. Facilisis donec gravida pretium diam
              semper at id
              eleifend.
            </p>
          </div>

          <div class="events__link-box">
            <a href="" class="events__link border-btn">Подробнее</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>