<section class="gallery">
  <div class="container">
    <div class="gallery__top">
      <div class="gallery__text-bg text-bg">Top “Manhattan” photo</div>
      <h2 class="gallery__title section-title">галерея</h2>
    </div>

    <ul class="gallery__items">
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/1.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/1.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/2.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/2.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/3.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/3.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/4.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/4.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/5.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/5.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/6.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/6.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/7.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/7.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/8.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/8.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/9.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/9.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/10.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/10.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/11.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/11.jpg" alt="gallery image">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__item-link" href="images/gallery/1.jpg" data-fancybox>
          <img class="gallery__image" src="images/gallery/1.jpg" alt="gallery image">
        </a>
      </li>
    </ul>
  </div>
</section>