<div class="container">
  <nav class="header__nav">
    <a class="header__logo" href="#">
      <img class="header__logo-img" src="images/logo.png" alt="LOGOTYPE">
    </a>

    <ul class="header__menu">
      <li class="header__item">
        <a class="header__menu-link" href="#">Главная</a>
      </li>
      <li class="header__item">
        <a class="header__menu-link" href="#">Меню</a>
      </li>
      <li class="header__item">
        <a class="header__menu-link" href="posters-page.html">Афиша</a>
      </li>
      <li class="header__item">
        <a class="header__menu-link" href="cooperation-page.html">Сотрудничество</a>
      </li>
      <li class="header__item">
        <a class="header__menu-link" href="gallery-page.html">Галерея</a>
      </li>
      <li class="header__item">
        <a class="header__menu-link" href="#">Новости</a>
      </li>
    </ul>

    <button class="header__btn border-btn" type="button">бронирование</button>
  </nav>
</div>