<section class="party">
  <div class="container">
    <div class="party__top-text">
      <div class="party__text-bg text-bg">Top “Manhattan” party</div>
      <h2 class="party__title section-title">ТЕхрайдер</h2>
    </div>

    <div class="party__inner">
      <div class="party__accordion-box">
        <ul class="party__accordion">
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">Loudspeakers</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">Amplifier</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">FOH</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">Backline</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">Microphone set</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
          <li class="party__item">
            <div class="party__item-box">
              <h3 class="party__item-title">DJ equipment</h3>
              <svg class='party__item-svg' width='21px' height='12'>
                <use xlink:href='images/svg-sprite/sprite.svg#down'></use>
              </svg>
            </div>

            <ul class="party__accordion-content">
              <li class="party__accordion-item">Acoustic system BELL Top 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Mid 600W x 2</li>
              <li class="party__accordion-item">Acoustic system BELL Sub 1000W x 2</li>
              <li class="party__accordion-item">Front monitor Yamaha SM12V 300w x 2</li>
              <li class="party__accordion-item">Backside monitor Dynacord 500W x 2</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="party__soundmans">
        <h2 class="party__soundmans-title section-title">
          Звукорежиссеры клуба МАНХЭТТЕН
        </h2>

        <div class="party__soundmans-content">
          <div class="party__soundmans-item">
            <img class="party__soundmans-img" src="images/party/1.jpg" alt="Изотов Константин">
            <div class="party__soundmans-name">Изотов Константин</div>
            <ul class="party__socials">
              <li class="party__socials-item">
                <a class="party__socials-link" href="#">
                  <svg class='party__svg' width='20px' height='12px'>
                    <use xlink:href='images/svg-sprite/sprite.svg#vk'></use>
                  </svg>
                </a>
                <a class="party__socials-link" href="#">
                  <svg class='party__svg' width='17px' height='14px'>
                    <use xlink:href='images/svg-sprite/sprite.svg#tlg'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <div class="party__soundmans-item">
            <img class="party__soundmans-img" src="images/party/2.jpg" alt="Изотов Константин">
            <div class="party__soundmans-name">Давид Хозиев</div>
            <ul class="party__socials">
              <li class="party__socials-item">
                <a class="party__socials-link" href="#">
                  <svg class='party__svg' width='20px' height='12px'>
                    <use xlink:href='images/svg-sprite/sprite.svg#vk'></use>
                  </svg>
                </a>
                <a class="party__socials-link" href="#">
                  <svg class='party__svg' width='17px' height='14px'>
                    <use xlink:href='images/svg-sprite/sprite.svg#tlg'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>