<section class="posters">
  <div class="container">
    <div class="posters__top">
      <div class="posters__text-bg text-bg">Top “Manhattan” party</div>
      <h2 class="posters__title section-title">афиша</h2>
    </div>

    <ul class="posters__content">
      <li class="posters__item">
        <img class="posters__img" src="images/posters/1.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/2.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/3.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/4.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>

      <li class="posters__item">
        <img class="posters__img" src="images/posters/4.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/1.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/2.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/3.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>

      <li class="posters__item">
        <img class="posters__img" src="images/posters/3.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/4.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/1.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
      <li class="posters__item">
        <img class="posters__img" src="images/posters/2.jpg" alt="Poster">

        <div class="posters__info-wrap">
          <div class="posters__info-box">
            <div class="posters__date">17.077.2022 &#183; 19.00</div>
            <div class="posters__name">Рок в Манхэттене</div>
            <div class="posters__cost">550 ₽</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>