<section class="top-content">
  <div class="container">
    <div class="top-content__inner">
      <div class="top-content__item-left" style="background-image: url('images/top_content/bg.jpg')">
        <div class="top-content__text">
          <p class="top-content__text-bg text-bg">Since 1996</p>
          <h2 class="top-content__title">True. Fontanka. Underground.</h2>
        </div>
      </div>

      <div class="top-content__item-right">
        <div class="top-content__controls">
          <ul class="top-content__controls-items">
            <li class="top-content__controls-item active" data-services="first">
              <p class="top-content__controls-link">Ближайшие</p>
            </li>
            <li class="top-content__controls-item" data-services="second">
              <p class="top-content__controls-link">скоро</p>
            </li>
          </ul>
        </div>

        <div class="top-content__tabs">
          <ul class="top-content__tabs-items top-content__tabs-items-first active">
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/1.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/2.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/3.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/4.png" alt="tabs image">
            </li>
          </ul>

          <ul class="top-content__tabs-items top-content__tabs-items-second">
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/3.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/2.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/4.png" alt="tabs image">
            </li>
            <li class="top-content__tabs-item">
              <img class="top-content__img" src="images/top_content/tabs/1.png" alt="tabs image">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>